{% extends 'base.html' %}

{% block content %}

    <div class="fadeIn">
        {% if not obj %}
            <h1 class="title icon--movie">Cadastrar Filme</h1>
        {% else %}
            <h1 class="title icon--movie">Atualizar Filme</h1>
        {% endif %}

        <div class="box--container">
            
            <form method = "post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_ul }}
                
                <div class="btn-form-position">
                    <a href="{% url 'app:index' %}" class="btn-form">Cancelar</a>



                    {% if not obj %}
                        <button type="submit" class="btn-form">Cadastrar</button>
                        {% else %}
                        <button type="submit" class="btn-form">Atualizar</button>
                    {% endif %}

                </div>
            </form>
        </div>   
    </div>

{% endblock %}

