{% extends 'base.html' %}


{% block content %}

<div class="card--container">
    {% for item in obj %}

        <div>
            <img src="{{ item.imagem.url }}" alt="{{item.titulo}}">
        </div>
        
        <div>
            <h2>{{item.titulo}}<i>{{item.ano}}</i></h2>
            <ul>
                <li>{{item.classificacao}}</li>
                <li>{{item.genero}}</li>
                <li>{{item.duracao}}</li>
            </ul>
            <h3>Sinopse:</h3>
            <p>{{item.sinopse}}</p>

            <div id="actions_btn">
                <a href="{% url 'app:edit' item.id %}" class='btn-action'>Editar</a> 
                <a href="{% url 'app:delete' item.id %}" class='btn-action'>Deletar</a>
            </div>
        </div>

        {% empty %}
            <h1>Ops, você não tem filmes cadastrados!</h1>

    {% endfor %}

</div>

{% endblock %}
