{% extends 'base.html' %}


{% block content %}

<div class="card--container">
    {% for item in obj %}

        <div class="fadeInInverse">
            <img src="{{ item.imagem.url }}" alt="{{item.titulo}}">
        </div>

        <div class="fadeIn">
            <h2>{{item.titulo}}<i>{{item.ano}}</i></h2>
            <ul>
                <li>{{item.classificacao}}</li>
                <li>{{item.genero}}</li>
                <li>{{item.duracao}}</li>
            </ul>

            <h3>Sinopse:</h3>
            <p>{{item.sinopse}}</p>

            <div class="flex">
                <h4 class="subtilte">Diretor:</h4>
                <p>{{item.diretor}}</p>
            </div>

            <div id="actions_btn">
                <a href="{% url 'app:edit' item.id %}" class='btn-action'>Editar</a> 
                <a href="{% url 'app:delete' item.id %}" class='btn-action'>Deletar</a>
            </div>
        </div>

        {% empty %}
        <div class="blank">
            <h1>Nenhum item encontrado</h1>
        </div>

    {% endfor %}
</div>


{% endblock %}
